snippet if "if (condition) { ... }"
if (${1:true}) {
	${VISUAL}
}
endsnippet

snippet for "for (condition) { ... }"
for (${1:true}) {
	${VISUAL}
}
endsnippet

snippet while "for (condition) { ... }"
while (${1:true}) {
	${VISUAL}
}
endsnippet

snippet main "int main(args) { ... }"
int main(${1:true}) {
	${VISUAL}
	return 0;
}
endsnippet
